<div class="w-screen h-screen flex items-center justify-center relative" style="background: url(../../../../../assets/images/illustrations/bg-main-gradient.svg);    background-position: 50% 60vh;
  background-repeat: no-repeat;
  background-size: 1793px;">
  <div class="
			absolute
			top-7
			w-full
			flex
			sm:justify-center
			md:justify-between
			items-center
			px-20
		">
    <div class="flex items-end">
      <img src="../../../../../assets/images/ajke/ajke-blue-logo.svg" class="h-10 w-auto mx-auto" alt="logo" />
      <h2 class="text-black font-extrabold ml-1 text-sm">Admin</h2>
    </div>
  </div>
  <div class="p-10 bg-white rounded-lg shadow-2xl" style="max-width: 480px; width: 100%">
    <div class="text-center mb-11">
      <h5 class="text-3xl text-gray-700 font-bold">Welcome back!</h5>
      <p class="mt-3 text-gray-600 text-lg">Admin Login</p>
    </div>
    <form nz-form [formGroup]="validateForm" class="mx-auto" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your identifier!">
          <nz-input-group nzPrefixIcon="user">
            <input style="height: 38px" type="text" nz-input formControlName="identifier" placeholder="identifier" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your Password!">
          <nz-input-group nzPrefixIcon="lock">
            <input style="height: 38px" type="password" nz-input formControlName="password" placeholder="Password" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <!-- <div nz-row class="login-form-margin">
				<div nz-col [nzSpan]="12">
					<label nz-checkbox formControlName="remember">
						<span>Remember me</span>
					</label>
				</div>
				<div nz-col [nzSpan]="12">
					<a class="login-form-forgot">Forgot password</a>
				</div>
			</div> -->
      <button [nzLoading]="loginLoading" nz-button style="height: 38px" class="login-form-button login-form-margin"
        [nzType]="'primary'">
        Log in
      </button>
    </form>
  </div>
</div>
